.user-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.user-box {
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  height: 200px;
}

h1 {
  text-align: center;
  padding: 30px;
}