
*{
  background-color: black;
  color: white;
  font-size: x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.nav-bar{
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 10px;
}
.nav-links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}
a {
  text-decoration: none;
}

.blue{
  background-color:#3498db;
}
.red{
  background-color: #e74c3c;
}
.green{
  background-color:#2ecc71;
  
}
.yellow{
  background-color: #f1c40f;
}
.logo{
  color: #5dd1e9;
  text-align: right;
  font-weight: bold;
}
